<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--Base Target-->
    <add name="ERP"
   connectionString="Server={0}; Database={1}; User Id={2};Password={3}; Max Pool Size=100; MultipleActiveResultSets=True; Application Name=Target Venda;"
   providerName="System.Data.SqlClient" />

  </connectionStrings>

  <appSettings>
    <add key="ServidorDB" value="." />
    <add key="BancoDB" value="MOINHO" />
    <add key="UsuarioDB" value="" />
    <add key="SenhaDB" value="f/aUU1Eqg6TxRP0KSj1Si1gUARet9mdCKnGKsOtJQRfBhnqaaQcVz/+oZD9/w2LSOsFiIhgidBoC2iuFlRB72w==" />
    <add key="TimePrincipal" value="10" />
    <add key="QuantidadeThreadSimultaneo" value="50" />
    <add key="PathExtracao" value="C:\Target\Temp\Extracao" />
    <add key="PathSendMailERP" value="C:\TARGET\EXE\NET\SendMailERP\SendMailERP.exe" />
    <add key="EmailFrom" value="" />
    <add key="EmailFromDisplay" value="" />
    <add key="SmtpHost" value="" />
    <add key="SmtpClientPort" value="" />
    <add key="SmtpEnableSSL" value="" />
    <add key="SmtpNetworkCredencial" value="" />
    <add key="PortaComunicacaoAPI" value="30212" />
    <add key="ReservarEstoqueComCorte" value="false" />
    <add key="ImpostosApi" value="false" />
    <add key="portaImpostoApi" value="5500" />
    <add key="EnvioVersao" value="true" />
    <add key="UsuarioServico" value="" />
    <add key="PassServico" value="" />
  </appSettings>

</configuration>