<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

    <!-- ATENÇÃO -->
    <!-- AO ADICIONAR NOVOS PARAMETROS DE CONFIGURAÇÃO -->
    <!-- ATUALIZE O MÉTODO verificaConfiguracao NA CLASSE ConfigHelper-->
    
    <add key="VersaoMinimaERP" value ="11.02.19.2"/>
    
		</appSettings>

</configuration>